<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @juntum.nombre %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @juntum.fecha %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @juntum.descripcion %>
</p>
